
    <li class="nav-item">
        <a asp-area="Psychologist" asp-controller="PsychiatristProfile" asp-action="Form" class="nav-link">
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p>Profile Creates</p>
        </a>
    </li>
